html, body{
	@include font;
    font-size: $fontS;
	line-height: calculateRem(28px);
    color: $black;
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	width: 100%;
	min-height: 100%;
	overflow-x: hidden!important;

	&.fixed{
		height: 100vh;
		overflow: hidden;
	}
}