@font-face{
	font-family:'FuturaBkBT';
	src:url('../../fonts/FuturaBkBT.eot');
	src:url('../../fonts/FuturaBkBT.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/FuturaBkBT.woff') format('woff'),
	url('../../fonts/FuturaBkBT.ttf') format('truetype'),
	url('../../fonts/FuturaBkBT.svg#FuturaBkBT') format('svg');
	font-weight:normal;
	font-style:normal;
}