/* --- FOOTER --- */
	#footer{
		& &-top{
			padding: 85px 0;

			.wp-block-media-text{
				display: flex;
				justify-content: space-between;

				@include media-breakpoint-down(sm) {
					flex-wrap: wrap;
				}
			}
			
			.wp-block-media-text__media{
				width: 62%;
				padding: 0 1.5rem;
				margin: 0;

				@include media-breakpoint-down(sm) {
					width: 100%;
					padding: 0 4rem;
				}

				>img{
					width: auto;
					max-width: 100%;
				}
			}

			.wp-block-media-text__content{
				padding: 0 1.5rem;

				@include media-breakpoint-down(md) {
					width: 80%;
				}

				@include media-breakpoint-down(sm) {
					width: 100%;
					padding: 2rem 0 0;
				}

				h2{
					color: $primary;
					font-size: $fontXL;
					line-height: 1.2;
					text-transform: none;

					@include media-breakpoint-down(sm) {
						font-size: $fontM;
					}
				}

				p{
					margin-bottom: calculateRem(20px);
				}
			}
		}


		& &-bottom{
			background: $black;
			padding: 22px 0;
			font-size: $fontXS;
			color: $grey;

			.main-column{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

			}
			
			p{
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
			}

			a{
				color: $white;
				@include easeOut(0.3s, color);

				.no-touch &:hover{
					color: $grey;
				}
			}

			.links-list{
				display: flex;

				@include media-breakpoint-down(sm) {
					flex-wrap: wrap;
					justify-content: center;
				}

				li{
					padding: 0 3px;

					.link{
						display: inline-block;
						padding-left: 2px;
						@include easeOut(0.3s, color);
					}
				}
			}
		}
	}
/* --- /FOOTER --- */
