#cff{
    .cff-item{
        background: $greyLight;
        margin: 1rem 0;
        padding: 1rem;
        border-bottom: none;
        font-size: $fontXS;

        &:first-child{
            padding-top: 1rem;
        }
    }

    .cff-author{
        a{
            color: $primary;
            transition: color 0.25s ease;

            .no-touch &:hover{
                color: $grey;
            }
        }
    }

    .cff-post-text{
        a{
            color: $primary;
        }
    }

    .cff-shared-link{
        a{
            color: $primary;
        }
    }

    .cff-cta-link{
        margin-bottom: 1rem;

        a{
            color: $black;
        }
    }

    .cff-media-link,
    .cff-post-links{
        a{
            font-size: $fontXS;
            color: $black;
        }
    }
}