.socials{
    display: flex;
    justify-content: center;
    margin-top: calculateRem(43px);

    li{
        margin: 0 calculateRem(10px);

        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        
        a{
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calculateRem(40px);
            height: calculateRem(40px);
            text-decoration: none;
            @include easeOut(0.3s, background-color);

            .fab{
                color: $white;
                font-size: 0.8rem;
                font-weight: 400;

                &.fa-facebook-f:before{
                    content: "\F39E"!important;
                }
            }

            .no-touch &:hover{
                background-color: $primary;
            }
        }
    }
}