#comments{
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacer;

    .item-comment{
        width: 33.333%;
        margin-bottom: $spacer;
        padding: 0 1rem;
        text-align: center;

        @include media-breakpoint-down(lg) {
            width: 50%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        
        .arrows{
            margin-bottom: calculateRem(10px);
            color: $primary;

            i{
                font-size: $fontXS;
            }
        }

        .item-text{
            color: $grey;
            font-style: italic;
        }

        .item-info{
            margin-top: 1rem;
            
            a{
                @include fontMd;
                color: $black;
                transition: color 0.25s ease;
        
                .no-touch &:hover{
                    color: $primary;
                }
            }
        }
    }
}